node_modules
package-lock.json
shrinkwrap.yaml
.prettierignore
src/*
babel.config.js
json-*.tgz
.travis.yml
coverage
.nyc_output
tsconfig.tsbuildinfo
pnpm-lock.yaml
dist/*test.*
.perl-version
CHANGELOG.yml
.eslintrc.yml
Taskfile.yaml
tsconfig.json
